design/staticdata/Siena - Static Data Importer/Templates/Archive/Templates Standardised/Agreements -/dataimport-schema.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by WMHelp XMLPad for dataimport. (C) 2004-2005, WMHelp Software.-->
<!ELEMENT xsd:schema (xsd:simpleType+, xsd:complexType+, xsd:simpleType, xsd:complexType+, xsd:element+, xsd:attributeGroup+)>
<!ATTLIST xsd:schema
          xmlns:xsd CDATA #IMPLIED
          targetNamespace CDATA #IMPLIED
          xmlns:tns CDATA #IMPLIED
          elementFormDefault CDATA #IMPLIED>
<!ELEMENT xsd:simpleType (xsd:restriction)>
<!ATTLIST xsd:simpleType
          name CDATA #REQUIRED>
<!ELEMENT xsd:restriction (xsd:enumeration+)>
<!ATTLIST xsd:restriction
          base CDATA #REQUIRED>
<!ELEMENT xsd:enumeration (xsd:annotation)>
<!ATTLIST xsd:enumeration
          value CDATA #REQUIRED>
<!ELEMENT xsd:annotation (xsd:documentation)>
<!ELEMENT xsd:documentation (#PCDATA)>
<!ELEMENT xsd:complexType ((xsd:simpleContent) | (xsd:sequence, xsd:attributeGroup))>
<!ATTLIST xsd:complexType
          name CDATA #REQUIRED>
<!ELEMENT xsd:simpleContent (xsd:extension)>
<!ELEMENT xsd:extension (xsd:attributeGroup)>
<!ATTLIST xsd:extension
          base CDATA #REQUIRED>
<!ELEMENT xsd:attributeGroup (xsd:attribute+)>
<!ATTLIST xsd:attributeGroup
          ref CDATA #IMPLIED
          name CDATA #IMPLIED>
<!ELEMENT xsd:sequence (xsd:element+)>
<!ELEMENT xsd:element (xsd:annotation)>
<!ATTLIST xsd:element
          ref CDATA #IMPLIED
          maxOccurs CDATA #IMPLIED
          minOccurs CDATA #IMPLIED
          xmlns:tns CDATA #IMPLIED
          name CDATA #IMPLIED
          type CDATA #IMPLIED>
<!ELEMENT xsd:attribute (xsd:annotation)>
<!ATTLIST xsd:attribute
          name CDATA #REQUIRED
          type CDATA #REQUIRED
          use CDATA #IMPLIED>
